In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("mbti.csv")

In [48]:
df = df.drop(columns = ['stat'])

In [49]:
df['mbti'].unique()

array(['ESFP', 'XXXX', 'ESFJ', 'ESTP', 'ESTJ', 'ENFP', 'ENFJ', 'ENTP',
       'ENTJ', 'ISFP', 'ISFJ', 'ISTP', 'ISTJ', 'INFP', 'INFJ', 'INTP',
       'INTJ'], dtype=object)

In [50]:
# drop XXXX
df[df['mbti']!= "XXXX"]

,mbti,enneagram,role,movie,img_url
0,ESFP,7w6,"Peter Quill ""Star-Lord""",Marvel Cinematic Universe,https://www.personality-database.com/profile_i...
1,ESFP,8w7,Anakin Skywalker,Star Wars,https://www.personality-database.com/profile_i...
2,ESFP,6w7,Ron Weasley,Harry Potter (franchise),https://www.personality-database.com/profile_i...
3,ESFP,7w8,Bellatrix Lestrange,Harry Potter (franchise),https://www.personality-database.com/profile_i...
4,ESFP,7w6,Simba,The Lion King (1994),https://www.personality-database.com/profile_i...
...,...,...,...,...,...
18734,INTJ,6w5,Richard Parker,The Amazing Spider-Man (2012),https://www.personality-database.com/images/pr...
18736,INTJ,5w4,Dr. Caroline Caldwell,The Girl with All the Gifts (2016),https://www.personality-database.com/images/pr...
18737,INTJ,5w6,Richard,Eat Pray Love,https://www.personality-database.com/images/pr...
18739,INTJ,1w9,Klimek 'The General',The Informer,https://www.personality-database.com/images/pr...
18740,INTJ,NaN,Lily Walker,Revolver (2005),https://www.personality-database.com/images/pr...

In [51]:
# drop NaN in enneagram
df = df[df['enneagram'].notna()]

In [52]:
## only get the first number
enn_1 = []
for x in df.enneagram.values:
    enn_1.append(int(x[0]))
enn_2 = []
for x in df.enneagram.values:
    enn_2.append(int(x[-1]))

In [53]:
df['enn_1'] = enn_1
df['enn_2'] = enn_2

ValueError: Length of values (0) does not match length of index (12066)

In [ ]:
## returns a picture
df.img_url[5]

In [ ]:
df